<img class="runWalkOptions shoe" src="../../images/shoe.png" alt="" />
<div class="runWalkOptions menu">RUN/WALK</div>
<div class="runWalkOptions top">500m</div>
<div class="runWalkOptions left">1km</div>
<div class="runWalkOptions bottom">200m</div>
<div class="runWalkOptions right">1.2km</div>
